.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -1rem 2.8rem;
}

.portfolio__col {
  -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%;
  padding: 1rem;
}
