@import "var.scss";

html {
    font-size: 15px;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: $black;

    &.no-scroll {
        overflow: hidden;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 1rem;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Block */
@import "container.scss";
@import "header.scss";
@import "user.scss";
@import "nav.scss";
@import "intro.scss";
@import "social.scss";
@import "btn.scss";
@import "works.scss";
@import "work.scss";
@import "portfolio.scss";
@import "about.scss";
@import "reviews.scss";
@import "news.scss";
@import "articles.scss";
@import "footer.scss";
@import "modal.scss";
@import "modal-work.scss";
@import "timeline.scss";
@import "progress-bar.scss";
@import "contact.scss";
@import "form.scss";



/* Helpers */
@import "helpers.scss";
